<div class = 'margin-div nav_wrap'>
	<a href = '/' class = 'logo'>{% include icons/logo.svg %}</a>
	<div id="i" class = 'nav_toggle'>
		<div class="bar1 a"></div>
		<div class="bar2 b"></div>
		<div class="bar3 c"></div>
	</div>
	<nav id="menu">
		<div id="nav-links-div"><br class="res-br"><br class="mozila-res-br">
		  {%- for nav in site.data.nav -%}
			<a class="nav-links {% if nav.class %}{{ nav.class }}{% endif %}" href="{{ nav.link }}">{{ nav.item }}</a>
			{%- endfor -%}
		</div>
	</nav>
</div>
