<div class = 'margin-div nav_wrap'>
	<a href = '/' class = 'logo'>{% include icons/logo.svg %}</a>
	<div id="i" class = 'nav_toggle'>
		<div class="bar1 a"></div>
		<div class="bar2 b"></div>
		<div class="bar3 c"></div>
	</div>
	<nav id="menu">
		<div id="nav-links-div"><br class="res-br"><br class="mozila-res-br">
			<a class="nav-links" href="/schedule/">Schedule</a><br class="res-br"><br class="res-br"><br class="mozila-res-br">
			<a class="nav-links" href="/sponsors/packages/">Sponsors</a><br class="res-br"><br class="res-br"><br class="mozila-res-br">
			<a class="nav-links" href="/logistics/">Logistics</a><br class="res-br"><br class="res-br"><br class="mozila-res-br">
			<a class="nav-links" href="/accessibility/">Accessibilty</a><br class="res-br"><br class="res-br"><br class="res-br"><br class="mozila-res-br"><br class="mozila-res-br">
			<a class="nav-links" href="/code-of-conduct/">Code of Conduct</a><br class="res-br"><br class="res-br"><br class="res-br"><br class="mozila-res-br"><br class="mozila-res-br">
			<a id="ticket" class="nav-links tic" href="#">Get Ticket</a><br class="res-br"><br class="res-br"><br class="mozila-res-br">
		</div>
	</nav>
</div>