* {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: $font;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.page {
  padding-top: 2rem;
  padding-bottom: 2rem;
  p {
    padding: 1rem 0;
  }
  * {
    line-height:  1.6;
  }
  ul, ol, blockquote {
    padding-left: 1rem;
    padding: 1rem 0 1rem 1rem;
  }
}
img {
  max-width: 100%;
}
.xs {
  @media screen and (max-width: 667px) {
    display: none;
  }
}

blockquote {
  margin: 0 auto !important;
  padding:  20px 0 !important
}