.logo {
  position: relative;
  z-index: 99;
}
a.session {
  &, &:visited {
    color: $dark;
    text-decoration: none;
  }
  &:hover {
    color: blue;
  }
}
.session {
  display: flex;
  align-items: center;
  padding: $padding $margin;
  font-size: 1.5rem;
  margin-bottom: 1px;
  p {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &:nth-child(odd) {
    background: #eee;
    border-bottom: 1px solid darken(#eee, 5%);
  }
  &s {
    padding: 4rem 0;
    background: transparent;
  }
  &_avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    border: 1px solid #eee;
    margin-right: 1rem;
  }
  &_thumbnail {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
  &_headline {
    padding: 2rem 0;
    background: $brand-color;
    h1 {
      margin: 0;
      padding: 1rem 0;
    }
    h1, h2 {
      color: $light;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  &_date {
    font-size: 2.75rem;
    color: $secondary;
    // line-height: 4rem;
    @media screen and (max-width: 667px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  &_details {
    flex: 1;
    margin-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 667px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &_default {
    background: $brand-color !important;
    color: $light;
  }
  &_default &_summary {
    text-align: center;
    font-style: italic;
  }
  &_item {
    margin-bottom: 3rem;
  }
  &_hour {
    font-size: 2.25rem;
    letter-spacing: 1.5px;
  }
  &_minutes {
    font-size: 1.25rem;
  }
  &_summary {
    flex: 1;
  }
  &_start {
    width: 5rem;
  }
  &_speaker{
    display: flex;
    // justify-content: space-between;
    align-items: center;
    &s {
      width: 18rem;
    }
  }
  &_theme {
    font-size: 1.5rem;
    font-style: italic;
    padding: $padding $margin;
  }
}
.wrap {
  @media screen and (max-width: 667px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.speaker {
  display: flex;
  margin-bottom: 1.5rem;
  &s {
    padding: 1rem 0 2rem;
  }
  &_bio {
    flex: 1;
    p {
      line-height: 1.6;
    }
  }
  &_avatar {
    width: 10rem;
    margin-right: 1.5rem;
  }
  &_name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}